div{
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100px;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: hsl(0, 0%, 25%);
}
.navbar a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}
.projects{
    background-color: rgb(76, 80, 76);
    height: 70px;
    width: 200px;
    text-align: center;
    font-family: Arial;
    border: 1px solid black;
}
body{
    background-image: url(Images/Background.png);
    margin: 0;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
.readable{
    color: white;
}
.title{
    text-align: center;
    color: white;
}